<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TODO App{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% block extra_head %}
    <!-- Additional head content can be added here -->
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'todo:todo_list' %}">TODO App</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'todo:todo_create' %}">Add TODO</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </div>

    {% bootstrap_javascript %}
    {% block extra_scripts %}
    <!-- Additional scripts can be added here -->
    {% endblock %}
</body>
</html>